name: Assets

on:
  workflow_call:
    inputs:
      node_version:
        description: "Node version to use (e.g. 16.x, 18.x, 20.x)"
        required: false
        default: "14.x"
        type: string
    secrets:
      GH_PRIV_TOKEN:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_S3_BUCKET:
        required: true

jobs:
  assets:
    runs-on: ubuntu-latest

    name: Compile assets

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ inputs.node_version }}

      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Reconfigure git URLs
        run: git config --global url."https://${{ secrets.GH_PRIV_TOKEN }}@github.com/".insteadOf ssh://git@github.com/

      - name: Install packages
        run: npm ci
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PRIV_TOKEN }}

      - name: Build assets
        run: npm run production
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PRIV_TOKEN }}

      - name: Get name of module
        id: composer
        run: echo "name=$(node -e 'var composer = require(\"./composer.json\"); var path = require(\"path\"); console.log(path.basename(composer.name));')" >> $GITHUB_OUTPUT

      - name: Get tag version
        id: tag
        run: echo "name=$(node -e 'var path = require(\"path\"); console.log(path.basename(\"${{ github.event.ref }}\"));')" >> $GITHUB_OUTPUT

      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'eu-west-1'
          SOURCE_DIR: 'dist'
          DEST_DIR: '${{ steps.composer.outputs.name }}/${{ steps.tag.outputs.name }}'

      - name: Check for hotfix in commit message
        id: check
        run: |
          echo "Commit message: ${{ github.event.head_commit.message }}"
          if echo "${{ github.event.head_commit.message }}" | grep -q "#hotfix"; then
            echo "hotfix=true" >> $GITHUB_OUTPUT
          else
            echo "hotfix=false" >> $GITHUB_OUTPUT
          fi

      - name: Trigger repo dispatch on other repo if hotfix
        if: steps.check.outputs.hotfix == 'true'
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PRIV_TOKEN }}
          repository: osmaviation/deployment
          event-type: hotfix-event
          client-payload: |
            {
              "ref": "${{ github.ref }}",
              "sha": "${{ github.sha }}",
              "message": "${{ github.event.head_commit.message }}"
            }
